body{
    margin: 0;
    padding:0;
    background: white;
}

.search-box-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;

}
.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
   }